@import '@ui/Styles.css';

.login-container {
    width: 100%; 
    max-width: 900px; 
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: var(--body-color);
    border: 2px solid var(--border-color); /* Add border with --border-color */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color); /* Ensure the text color is set to --text-color */
}

.login-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: var(--text-color); /* Ensure the text color is set to --text-color */
    background-color: var(--body-color); /* Ensure the background color matches the body color */
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add space between buttons */
}

.login-button, .register-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button {
    background-color: var(--submit-button); /* Use the submit button color */
    color: var(--button-text-color);
}

.error-message {
    color: red;
    margin-top: 10px;
}