@import '@ui/Styles.css';

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color); 
    border-top: 2px solid var(--border-color); 
    padding: 10px; 
    text-align: center;
    color: var(--text-color); 
    font: var(--text-font);
}

.footer a {
    color: var(--link-color);
    text-decoration: none; /* Remove underline from links */
    margin-left: 10px; /* Add some space between the text and the logo */
}

.footer a:hover {
    text-decoration: underline; /* Underline links on hover */
}

.github-logo {
    width: 24px; 
    height: 24px; 
}