@import '@ui/Styles.css';

.header {
    display: flex;
    align-items: center;
    background-color: var(--header-color);
    border-bottom: 2px solid var(--border-color); /* Add border to the bottom */
    padding: 10px;
    text-align: center;
    font: var(--text-font);
}

.header span {
    color: var(--text-color); 
}

.header a {
    color: var(--link-color); 
    text-decoration: none; /* Remove underline from links */
}

.header a:hover {
    text-decoration: underline; /* Underline links on hover */
}

.separator {
    color: var(--link-color);
    margin: 0 10px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
}

.nav.disabled a {
    pointer-events: none;
    color: gray;
}